<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfs.api.mapper.author.AuthorMapper">

  <sql id="select_column">
    id, author_name, sex, status, author_type, nationality, dynasty, contracted, image, 
    introduction_vidio, phone, tellphone, fax, qq, wechar, wechar_number, profession_name, 
    address, department, creator, regenerator, create_time, update_time, publish_time, 
    issue_time, delete_time, introduction
  </sql>

  <sql id="where_condition">
    <where>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR}
      </if>
      <if test="sex != null">
        and sex = #{sex,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="authorType != null">
        and author_type = #{authorType,jdbcType=BIGINT}
      </if>
      <if test="nationality != null">
        and nationality = #{nationality,jdbcType=BIGINT}
      </if>
      <if test="dynasty != null">
        and dynasty = #{dynasty,jdbcType=BIGINT}
      </if>
      <if test="contracted != null">
        and contracted = #{contracted,jdbcType=TINYINT}
      </if>
      <if test="image != null">
        and image = #{image,jdbcType=BIGINT}
      </if>
      <if test="introductionVidio != null">
        and introduction_vidio = #{introductionVidio,jdbcType=BIGINT}
      </if>
      <if test="phone != null">
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="tellphone != null">
        and tellphone = #{tellphone,jdbcType=VARCHAR}
      </if>
      <if test="fax != null">
        and fax = #{fax,jdbcType=VARCHAR}
      </if>
      <if test="qq != null">
        and qq = #{qq,jdbcType=VARCHAR}
      </if>
      <if test="wechar != null">
        and wechar = #{wechar,jdbcType=VARCHAR}
      </if>
      <if test="wecharNumber != null">
        and wechar_number = #{wecharNumber,jdbcType=VARCHAR}
      </if>
      <if test="professionName != null">
        and profession_name = #{professionName,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
        and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="department != null">
        and department = #{department,jdbcType=BIGINT}
      </if>
      <if test="creator != null">
        and creator = #{creator,jdbcType=BIGINT}
      </if>
      <if test="regenerator != null">
        and regenerator = #{regenerator,jdbcType=BIGINT}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime,jdbcType=BIGINT}
      </if>
      <if test="publishTime != null">
        and publish_time = #{publishTime,jdbcType=BIGINT}
      </if>
      <if test="issueTime != null">
        and issue_time = #{issueTime,jdbcType=BIGINT}
      </if>
      <if test="deleteTime != null">
        and delete_time = #{deleteTime,jdbcType=BIGINT}
      </if>
      <if test="introduction != null">
        and introduction = #{introduction,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </sql>

  <insert id="insert" parameterType="com.dfs.api.entity.author.AuthorEntity">
    insert into author (id, author_name, sex, 
      status, author_type, nationality, 
      dynasty, contracted, image, 
      introduction_vidio, phone, tellphone, 
      fax, qq, wechar, wechar_number, 
      profession_name, address, 
      department, creator, regenerator, 
      create_time, update_time, publish_time, 
      issue_time, delete_time, introduction
      )
    values (#{id,jdbcType=BIGINT}, #{authorName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{authorType,jdbcType=BIGINT}, #{nationality,jdbcType=BIGINT}, 
      #{dynasty,jdbcType=BIGINT}, #{contracted,jdbcType=TINYINT}, #{image,jdbcType=BIGINT}, 
      #{introductionVidio,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{tellphone,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{wechar,jdbcType=VARCHAR}, #{wecharNumber,jdbcType=VARCHAR}, 
      #{professionName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{department,jdbcType=BIGINT}, #{creator,jdbcType=BIGINT}, #{regenerator,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{publishTime,jdbcType=BIGINT}, 
      #{issueTime,jdbcType=BIGINT}, #{deleteTime,jdbcType=BIGINT}, #{introduction,jdbcType=LONGVARCHAR}
      )
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from author
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.dfs.api.entity.author.AuthorEntity">
    update author
    set author_name = #{authorName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      author_type = #{authorType,jdbcType=BIGINT},
      nationality = #{nationality,jdbcType=BIGINT},
      dynasty = #{dynasty,jdbcType=BIGINT},
      contracted = #{contracted,jdbcType=TINYINT},
      image = #{image,jdbcType=BIGINT},
      introduction_vidio = #{introductionVidio,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      tellphone = #{tellphone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      wechar = #{wechar,jdbcType=VARCHAR},
      wechar_number = #{wecharNumber,jdbcType=VARCHAR},
      profession_name = #{professionName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      department = #{department,jdbcType=BIGINT},
      creator = #{creator,jdbcType=BIGINT},
      regenerator = #{regenerator,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      publish_time = #{publishTime,jdbcType=BIGINT},
      issue_time = #{issueTime,jdbcType=BIGINT},
      delete_time = #{deleteTime,jdbcType=BIGINT},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.dfs.api.entity.author.AuthorEntity">
    update author
    <set>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="authorType != null">
        author_type = #{authorType,jdbcType=BIGINT},
      </if>
      <if test="nationality != null">
        nationality = #{nationality,jdbcType=BIGINT},
      </if>
      <if test="dynasty != null">
        dynasty = #{dynasty,jdbcType=BIGINT},
      </if>
      <if test="contracted != null">
        contracted = #{contracted,jdbcType=TINYINT},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=BIGINT},
      </if>
      <if test="introductionVidio != null">
        introduction_vidio = #{introductionVidio,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tellphone != null">
        tellphone = #{tellphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechar != null">
        wechar = #{wechar,jdbcType=VARCHAR},
      </if>
      <if test="wecharNumber != null">
        wechar_number = #{wecharNumber,jdbcType=VARCHAR},
      </if>
      <if test="professionName != null">
        profession_name = #{professionName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="regenerator != null">
        regenerator = #{regenerator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=BIGINT},
      </if>
      <if test="issueTime != null">
        issue_time = #{issueTime,jdbcType=BIGINT},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=BIGINT},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.dfs.api.entity.author.AuthorEntity">
    select 
    <include refid="select_column" />
    from author
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByCondition" parameterType="com.dfs.api.entity.author.AuthorEntity" resultType="com.dfs.api.entity.author.AuthorEntity">
    select 
    <include refid="select_column" />
    from author
    <include refid="where_condition" />
  </select>

  <select id="countByCondition" parameterType="com.dfs.api.entity.author.AuthorEntity" resultType="java.lang.Integer">
    select count(*) 
    from author
    <include refid="where_condition" />
  </select>

  <select id="getBasicModelByBookId" resultType="com.dfs.api.model.author.AuthorBasicModel">
    select a.id,a.author_name,a.introduction,ba.id relationId,ba.book_id parentId
    from author a,book_author ba
    where ba.book_id=#{bookId,jdbcType=BIGINT} and ba.other_flag=#{otherFlag,jdbcType=INTEGER} and a.id=ba.author_id
  </select>
</mapper>