<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfs.api.mapper.author.DynastyMapper">

  <sql id="select_column">
    id, full_name, short_name, name_en
  </sql>

  <sql id="where_condition">
    <where>
      <if test="fullName != null">
        full_name = #{fullName,jdbcType=VARCHAR}
      </if>
      <if test="shortName != null">
        and short_name = #{shortName,jdbcType=VARCHAR}
      </if>
      <if test="nameEn != null">
        and name_en = #{nameEn,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <insert id="insert" parameterType="com.dfs.api.entity.author.DynastyEntity">
    insert into dynasty (id, full_name, short_name, 
      name_en)
    values (#{id,jdbcType=BIGINT}, #{fullName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{nameEn,jdbcType=VARCHAR})
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dynasty
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.dfs.api.entity.author.DynastyEntity">
    update dynasty
    set full_name = #{fullName,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.dfs.api.entity.author.DynastyEntity">
    update dynasty
    <set>
      <if test="fullName != null">
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.dfs.api.entity.author.DynastyEntity">
    select 
    <include refid="select_column" />
    from dynasty
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByCondition" parameterType="com.dfs.api.entity.author.DynastyEntity" resultType="com.dfs.api.entity.author.DynastyEntity">
    select 
    <include refid="select_column" />
    from dynasty
    <include refid="where_condition" />
  </select>

  <select id="countByCondition" parameterType="com.dfs.api.entity.author.DynastyEntity" resultType="java.lang.Integer">
    select count(*) 
    from dynasty
    <include refid="where_condition" />
  </select>
</mapper>