<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfs.api.mapper.author.WritingmodeMapper">

  <sql id="select_column">
    id, name, name_en
  </sql>

  <sql id="where_condition">
    <where>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="nameEn != null">
        and name_en = #{nameEn,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <insert id="insert" parameterType="com.dfs.api.entity.author.WritingmodeEntity">
    insert into writingmode (id, name, name_en
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}
      )
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from writingmode
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.dfs.api.entity.author.WritingmodeEntity">
    update writingmode
    set name = #{name,jdbcType=VARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.dfs.api.entity.author.WritingmodeEntity">
    update writingmode
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.dfs.api.entity.author.WritingmodeEntity">
    select 
    <include refid="select_column" />
    from writingmode
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByCondition" parameterType="com.dfs.api.entity.author.WritingmodeEntity" resultType="com.dfs.api.entity.author.WritingmodeEntity">
    select 
    <include refid="select_column" />
    from writingmode
    <include refid="where_condition" />
  </select>

  <select id="countByCondition" parameterType="com.dfs.api.entity.author.WritingmodeEntity" resultType="java.lang.Integer">
    select count(*) 
    from writingmode
    <include refid="where_condition" />
  </select>
  
  <select id="getBasicModel" parameterType="java.lang.Long" resultType="com.dfs.api.model.BasicModel">
    select id,name
    from writingmode
    where id=#{id,jdbcType=BIGINT}
  </select>
</mapper>