<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfs.api.mapper.book.BookEditorMapper">

  <sql id="select_column">
    id, book_id, editor_type, user_id
  </sql>

  <sql id="where_condition">
    <where>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=BIGINT}
      </if>
      <if test="editorType != null">
        and editor_type = #{editorType,jdbcType=BIGINT}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
    </where>
  </sql>

  <insert id="insert" parameterType="com.dfs.api.entity.book.BookEditorEntity">
    insert into book_editor (id, book_id, editor_type, 
      user_id)
    values (#{id,jdbcType=BIGINT}, #{bookId,jdbcType=BIGINT}, #{editorType,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT})
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from book_editor
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.dfs.api.entity.book.BookEditorEntity">
    update book_editor
    set book_id = #{bookId,jdbcType=BIGINT},
      editor_type = #{editorType,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.dfs.api.entity.book.BookEditorEntity">
    update book_editor
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=BIGINT},
      </if>
      <if test="editorType != null">
        editor_type = #{editorType,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.dfs.api.entity.book.BookEditorEntity">
    select 
    <include refid="select_column" />
    from book_editor
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByCondition" parameterType="com.dfs.api.entity.book.BookEditorEntity" resultType="com.dfs.api.entity.book.BookEditorEntity">
    select 
    <include refid="select_column" />
    from book_editor
    <include refid="where_condition" />
  </select>

  <select id="countByCondition" parameterType="com.dfs.api.entity.book.BookEditorEntity" resultType="java.lang.Integer">
    select count(*) 
    from book_editor
    <include refid="where_condition" />
  </select>
</mapper>