<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfs.api.mapper.common.ErrorCodeMapper">

  <sql id="select_column">
    id, name, source_type, error_type
  </sql>

  <sql id="where_condition">
    <where>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="sourceType != null">
        and source_type = #{sourceType,jdbcType=BIGINT}
      </if>
      <if test="errorType != null">
        and error_type = #{errorType,jdbcType=BIGINT}
      </if>
    </where>
  </sql>

  <insert id="insert" parameterType="com.dfs.api.entity.common.ErrorCodeEntity">
    insert into error_code (id, name, source_type, 
      error_type)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{sourceType,jdbcType=BIGINT}, 
      #{errorType,jdbcType=BIGINT})
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from error_code
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.dfs.api.entity.common.ErrorCodeEntity">
    update error_code
    set name = #{name,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=BIGINT},
      error_type = #{errorType,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.dfs.api.entity.common.ErrorCodeEntity">
    update error_code
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=BIGINT},
      </if>
      <if test="errorType != null">
        error_type = #{errorType,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.dfs.api.entity.common.ErrorCodeEntity">
    select 
    <include refid="select_column" />
    from error_code
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByCondition" parameterType="com.dfs.api.entity.common.ErrorCodeEntity" resultType="com.dfs.api.entity.common.ErrorCodeEntity">
    select 
    <include refid="select_column" />
    from error_code
    <include refid="where_condition" />
  </select>

  <select id="countByCondition" parameterType="com.dfs.api.entity.common.ErrorCodeEntity" resultType="java.lang.Integer">
    select count(*) 
    from error_code
    <include refid="where_condition" />
  </select>
  
  <select id="getBasicModel" parameterType="java.lang.Long" resultType="com.dfs.api.model.BasicModel">
    select id,name
    from error_code
    where id=#{id,jdbcType=BIGINT}
  </select>
</mapper>